<div class="row">
    <div class="col-lg-4 col-mg-4">
        <div class="col-md-12">{{ form_errors(form) }}</div>
        <div class="form-group input-group">
            {{ form_widget(form._token) }}
            Категория: {{ form_widget(form.category_id, {'attr': {'title': 'Категория', 'class': 'form-control'}}) }}
        </div>
        <div class="bg-danger">{{ form_errors(form.category_id) }}</div>
        <div class="form-group input-group">
            Дата:<br /> {{ form_widget(form.date_added, {'attr': {'title': 'Дата', 'class': 'form-control'}}) }}
        </div>
        <div class="bg-danger">{{ form_errors(form.date_added) }}</div>
        <div class="form-group input-group">
            Сумма: {{ form_widget(form.money, {'attr': {'title': 'Сумма', 'class': 'form-control'}}) }}
        </div>
        <div class="bg-danger">{{ form_errors(form.money) }}</div>
    </div>
</div>